<h2>Interesting stats</h2>
<div class="stats stats--today">
  <span class="stats__title">Today</span>
  <div class="stats__gauge">
    <div class="stats__gauge--fill"> {{ liveDayPercentage }}
    </div>    
  </div>
  <div class="stats__earnings">
    <div class="stats__earnings--now" [innerHTML]="liveDaySalary | salaryFormatter"></div>
    <div class="stats__earnings--end" [innerHTML]="salaryEndOfDay | salaryFormatter"></div>
  </div>
</div>
<div class="stats stats--month">
  <span class="stats__title">Month</span>
  <div class="stats__gauge">
    <div class="stats__gauge--fill"> {{ liveMonthPercentage }}
    </div>    
  </div>
  <div class="stats__earnings">
    <div class="stats__earnings--now" [innerHTML]="liveMonthSalary | salaryFormatter"></div>
    <div class="stats__earnings--end" [innerHTML]="salaryEndOfMonth | salaryFormatter"></div>
  </div>
</div>
<div class="stats stats--year">
  <span class="stats__title">Year</span>
  <div class="stats__gauge">
    <div class="stats__gauge--fill"> {{ liveYearPercentage }}
    </div>    
  </div>
  <div class="stats__earnings">
    <div class="stats__earnings--now" [innerHTML]="liveYearSalary | salaryFormatter"></div>
    <div class="stats__earnings--end" [innerHTML]="salaryEndOfYear | salaryFormatter"></div>
  </div>
</div>