:host {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 78px);
    @media screen and (max-width: 650px) {
        height: calc(100vh - 125px);;
    }
}