h1 {
    font-size:32px;
    text-transform: uppercase;
    line-height: 43px;
    color: #302121
}
.input__container {
    border-bottom: 1px dashed #302121;
    margin-top:40px;
    margin-bottom: 20px;
    .input--salary {
        background:transparent;
        outline: none;
        border: none;
        color:302121;
        font-size:66px;
        font-weight: 100;
        max-width: 390px;
        text-align: right;
    }
    .input--currency {
        font-size:66px;
    }
}

.cta {
    padding: 11px 30px;
    border-radius: 18px;
    border: none;
    text-transform: uppercase;
    background-color: #fc6a57;
    transition: all 200ms ease-in;
    color: #ffefec;
    font-size: 16px;
    font-weight: 100;
    text-shadow: 1px 3px 3px #9b3729;
    box-shadow: 1px 3px 3px #969696;
    margin-top:30px;
    cursor:pointer;
    &:hover {
        animation: jump 1s infinite 0s ease;
        background-color: #ec6553;
        text-shadow: 1px 3px 3px #75271d;
    }
	
}

form.ng-valid {
    .cta {
        animation: jump 1s infinite 0s ease;
    }
}

@keyframes jump{
    0%{
        transform: translateY(0);
        box-shadow: 1px 3px 3px #969696;
        }
    50%{
        transform: translateY(-5px);
        box-shadow: 1px 5px 5px #969696;
        }
}


.errors {
    height:50px;
    display: block;
    span {
        display: inline-block;
        margin: 0 10px 10px 0px;
        padding: 10px 20px;
        background-color: rgba(24, 24, 24, 0.3);
        border: 1px solid rgba(24, 24, 24, 0.5);
        border-radius: 6px;
        font-size: 10px;
    }
}