<h1>How many is your<br><span class="bold">net mensual salary?</span></h1>
<form [formGroup]="salaryForm" (ngSubmit)="onSubmit()">
  <div class="input__container">
    <input
      class="input--salary"
      type="text"
      formControlName="salary"
      maxlength="10"
      >
      <span class="input--currency">€</span>
  </div>
  <div *ngIf="!salaryForm.valid && !salaryForm.pristine">
    <span
    *ngIf="salaryForm.get('salary').errors['valueTooLow']">C'mon, you're not that poor!</span>
    <span
    *ngIf="salaryForm.get('salary').errors['valueTooHigh']">Dude, you're not even this rich.</span>
    <span
    *ngIf="salaryForm.get('salary').errors['valueIsNotANumber']">So, you're paid with letters?</span>
  </div>

  <button
    type="submit"
    class="cta"
    [disabled]="!salaryForm.valid">It's <span class="semi-bold">Moneytime!</span></button>
</form>
