
:host {
    display:block;
    max-width:500px;
    position: relative;
    top:100px;
}
h1 {
    font-size:32px;
    text-transform: uppercase;
    line-height: 43px;
    color: #302121;
    @media screen and (max-width: 650px) {
        font-size:18px;
        line-height: 21px;        
    }
}
hr {
    border: none;
    border-bottom: 1px dashed #302121;
    max-width: 453px;
    margin: 0;
    @media screen and (max-width: 850px) {
        width:256px;       
    }
}
.input__container {
    margin-top:40px;
    margin-bottom: 20px;
    display:flex;
    .input--salary {
        background:transparent;
        outline: none;
        border: none;
        color:302121;
        font-size:66px;
        font-weight: 100;
        width: 390px;
        text-align: right;
        @media screen and (max-width: 850px) {
            width:200px;     
            padding:0;      
        }
    }
    .input--currency {
        font-size:66px;
    }
}

.cta {
    padding: 15px 45px;
    border-radius: 82px;
    border: none;
    text-transform: uppercase;
    background-color: #fc6a57;
    transition: all 200ms ease-in;
    color: #ffefec;
    font-size: 16px;
    font-weight: 100;
    text-shadow: 1px 3px 3px #9b3729;
    box-shadow: 1px 3px 3px #d8d8d8;
    margin-top:60px;
    cursor:pointer;
    outline: none;
    &:hover {
        animation: jump 1s infinite 0s ease;
        background-color: #ec6553;
        text-shadow: 1px 3px 3px #75271d;
    }
	
}

form.ng-valid {
    .cta {
        animation: jump 1s infinite 0s ease;
    }
}

@keyframes jump{
    0%{
        transform: translateY(0);
        box-shadow: 1px 3px 3px #d8d8d8;
        }
    50%{
        transform: translateY(-5px);
        box-shadow: 1px 5px 15px #bfbfbf;
        }
}


.errors {
    height:50px;
    display: block;
    margin-top:45px;
    position: relative;
    span {
        &:before {
            content: '';
            position: absolute;
            border: solid transparent;
            border-width: 20px 20px 0 0;
            padding: 7px;
            box-shadow: -1px 1px 0 0 rgba(24, 24, 24, 0.5) inset;
            -webkit-box-shadow: -1px 1px 0 0 rgba(24, 24, 24, 0.5) inset;
            -webkit-transform: rotate(45deg);
            margin-left: 0%;
            margin-top: 0px;
            transform: rotate(315deg);
            top: -31px;
            background-color: #f7f7f7;
            left:15px;
        }
        display: inline-block;
        margin: 0 10px 10px 0px;
        padding: 21px 38px;
        border: 1px solid rgba(24, 24, 24, 0.5);
        border-radius: 6px;
        font-size: 14px;
        font-weight: 500;
    }
}