
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1440 900" style="enable-background:new 0 0 1440 900;" xml:space="preserve">
<style type="text/css">
	.st0{font-family:'Comfortaa-Bold';}
	.st1{font-size:145.4243px;}
	.st2{font-family:'Comfortaa-Light';}
	.st3{fill:#CCCCCC;}
</style>
<text transform="matrix(1 0 0 1 339.7842 442.501)"><tspan x="0" y="0" class="st0 st1">Money</tspan><tspan x="508.8" y="0" class="st2 st1">Time</tspan><tspan x="871.2" y="0" class="st0 st1">.</tspan></text>
<circle cx="195" cy="407" r="63"/>
<circle class="st3" cx="220" cy="353" r="63"/>
</svg>
